<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="/WEB-INF/resources/templates/plantilla.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core">
    <ui:define name="title">
        <h:outputLabel rendered="#{alquiler.modoNuevo}">Crear DVD</h:outputLabel>
        <h:outputLabel rendered="#{not alquiler.modoNuevo}">Modificar DVD #{alquiler.dvd.titulo}</h:outputLabel>
    </ui:define>

    <ui:define name="top">
        <h:outputLabel rendered="#{alquiler.modoNuevo}">Crear DVD</h:outputLabel>
        <h:outputLabel rendered="#{not alquiler.modoNuevo}">Modificar DVD #{alquiler.dvd.titulo}</h:outputLabel>
    </ui:define>

    <ui:define name="content">
        <h:form id="dvdform">
            <h:panelGrid columns="3">
                Id:
                <h:inputText value="#{ alquiler.dvd.id }" id="ID" styleClass="form-control" 
                             required="true" requiredMessage="El ID es necesario"
                             validatorMessage="El ID no puede ser negativo">
                    <f:validateLongRange minimum="1" />
                </h:inputText>
                <h:message styleClass="alert alert-warning d-block" for="ID"/>

                Título: 
                <h:inputText value="#{ alquiler.dvd.titulo }" id="titulo" styleClass="form-control" 
                             required="true" requiredMessage="El título es necesario"
                             validatorMessage="El título no puede tener más de 30 caracteres">
                    <f:validateLength maximum="30"/>
                </h:inputText>
                <h:message styleClass="alert alert-warning d-block" for="titulo"/>

                Género: 
                <h:selectOneMenu value="#{alquiler.dvd.genero}" id="genero" styleClass="form-control" 
                                 required="true" requiredMessage="El género es necesario">
                    <f:selectItems value="#{app.categorias}"/>
                </h:selectOneMenu>
                <h:message styleClass="alert alert-warning" for="genero"/>

                <h:outputLabel rendered="#{not alquiler.modoNuevo}">Alquilado:</h:outputLabel>
                <h:selectBooleanCheckbox value="#{alquiler.dvd.alquilado}" 
                                         rendered="#{not alquiler.modoNuevo}"/>

            </h:panelGrid>
            <h:commandButton action="#{alquiler.crearDVD()}" value="#{alquiler.modoNuevo?'Crear DVD':'Modificar DVD'}" styleClass="btn btn-primary"/>
            <h:commandButton immediate="true" action="alquiler" value="cancelar" styleClass="btn btn-secondary"/>
        </h:form>
    </ui:define>
</ui:composition>