<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="/WEB-INF/resources/templates/plantilla.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core">
    <ui:define name="title">
        Géneros
    </ui:define>

    <ui:define name="top">
        Gestión de géneros
    </ui:define>

    <ui:define name="content">

        <h:dataTable value = "#{app.categorias}" var = "g" cellpadding="10" styleClass="table table-striped">
            <h:column>    				
                <f:facet name = "header"><h2>Géneros</h2></f:facet>    				
                    #{g.label} 				
            </h:column>
        </h:dataTable>

        <h:form id="genero-form" styleClass="form-inline">
            Nuevo género:
            <h:inputText value="#{ app.genero }" id="genero" styleClass="form-control" 
                         required="true" requiredMessage="El género es necesario">
            </h:inputText>
            <h:message styleClass="alert alert-warning d-block" for="genero"/>

            <h:commandButton action="#{app.anadirGenero()}" value="Añadir" styleClass="btn btn-primary">
            </h:commandButton>
        </h:form>
    </ui:define>

</ui:composition>