<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="/WEB-INF/resources/templates/plantilla.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core">


    <ui:define name="top">
        Alquiler de DVDs
    </ui:define>

    <ui:define name="content">
        <h2>Lista de películas</h2>
        <div class="table-responsive">
            <h:dataTable value = "#{alquiler.lista}" var="dvd" cellpadding="1" styleClass="table table-striped">
                <h:column>    				
                    <f:facet name = "header">ID</f:facet>    				
                        #{dvd.id} 				
                </h:column>

                <h:column>
                    <f:facet name = "header">Título</f:facet>
                        #{dvd.titulo}
                </h:column>

                <h:column>
                    <f:facet name = "header">Género</f:facet>
                        #{dvd.genero}
                </h:column>

                <h:column>
                    <f:facet name = "header">Disponible</f:facet>
                    <div class="mx-auto">
                        <h:panelGroup rendered="#{dvd.alquilado}">
                            No
                            <svg height="25" width="25">
                                <circle cx="12" cy="12" r="12" fill="red" />
                            </svg>
                        </h:panelGroup>

                        <h:panelGroup rendered="#{!dvd.alquilado}">
                            Sí
                            <svg height="25" width="25">
                                <circle cx="12" cy="12" r="12" fill="green" />
                            </svg>
                        </h:panelGroup>
                    </div>

                </h:column>

                <h:column>
                    <f:facet name = "header">Acción</f:facet>
                    <h:form>
	                    <h:commandButton styleClass="btn btn-success btn-xs" value="Alquilar" action="#{alquiler.alquilar(dvd.id)}" disabled="#{dvd.alquilado}"/>
	                    <h:commandButton styleClass="btn btn-warning btn-xs" value="Devolver" action="#{alquiler.devolver(dvd.id)}" disabled="#{not dvd.alquilado}"/>
	                    <h:commandButton styleClass="btn btn-primary btn-xs" value="Modificar" action="#{alquiler.modificarDVD(dvd.id)}"/>
                    </h:form>
                </h:column>
            </h:dataTable>
        </div>

        <h:form>
	        <h:commandButton styleClass="btn btn-primary" value="Crear DVD" action="#{alquiler.altaDVD()}"/>
	        <h:link styleClass="btn btn-primary" value="Añadir género" outcome="genero"/>
	    </h:form>
        
        
        <h3>Prueba acceso a servicio local desde JSF</h3>
        <h:panelGroup>
        	Hay #{alquiler.numGuestbooks} guestbooks en la Base de datos.
        </h:panelGroup>
    </ui:define>

</ui:composition>