<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
	
	<link rel="stylesheet"
		href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
		integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
		crossorigin="anonymous" />

	
	<div class="row">
		<div class="col-12 col-md">
			<h1 class="text-center">
				<i class="fas fa-compact-disc"></i>
				<ui:insert name="top">Alquiler de DVDs</ui:insert>
				<i class="fas fa-compact-disc"></i>
			</h1>
		</div>
	</div>

	<nav> <ui:insert name="menu">
		<ul class="nav nav-tabs justify-content-center">
			<li class="nav-item"><h:link value="Inicio" outcome="home"
					styleClass="nav-link"></h:link></li>
			<li class="nav-item"><h:link value="Alquilar DVDs"
					outcome="alquiler" styleClass="nav-link"></h:link></li>
			<li class="nav-item"><h:link value="Gestionar géneros"
					outcome="genero" styleClass="nav-link"></h:link></li>
		</ul>
	</ui:insert> </nav>

	<section id="content">
		<ui:insert name="content">Content</ui:insert>
	</section>

	<h:panelGroup rendered="#{not empty facesContext.messageList}">
		<div class="alert-container container">
			<div class="alert-notifications alert-notifications-absolute" role="alert">
				<h:messages errorStyle="alert alert-dismissible alert-danger"
					infoStyle="alert alert-dismissible alert-success" 
					globalOnly="true" ></h:messages>
			</div>
		</div>
	</h:panelGroup>
</ui:composition>